.block {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a.selected {
    font-weight: 600;
    opacity: 1;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

.btn,
button {
    border: none;
    outline: none;
    width: max-content;
    padding: 10;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    /* border-radius: 10px; */

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s ease-in-out;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid transparent;
    padding: 15px 30px;


}


.btn-secondary {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    padding: 15px 30px;

    /* border-left: 8px solid var(--primary-color); */
}


input,
textarea {
    outline: none;
    border: none;
    padding: 14px 0;
    font-size: 16px;
    font-family: inherit;
    border-bottom: 2px solid var(--light);

    transition: all .3s ease;
}

textarea {
    border-bottom: 1px solid var(--light);
    padding: 18px 0;
    resize: none;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid var(--primary-color);
}

section {
    margin-bottom: 100px;
}

.required {
    color: crimson;
}


.text-highlight {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--secondary-color);
    text-decoration-style: wavy;
    text-underline-offset: 10px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 22px;
    }

    input,
    textarea {
        padding: 10px 0;
    }

    label {
        font-size: 14px;
    }
  }